@import '{}/imports/ui/stylesheets/variables/index';

$header-bg: darken($blue-lighter, 5%);

.alert-canceled {
	@include alert-variant(
		$canceled-color,
		darken($canceled-color, 5%),
		darken($canceled-color, 60%)
	);
}

.event-page-component-header {
	$background-color: $blue;

	background: $background-color;
	color: $white;
	padding: 15px;
}

.event-page-component-header > h4 {
	font-weight: bold;
	margin: 0;
}

.event.course-event {
	border-color: $header-bg;
	border-style: solid;
	border-width: 0 5px 5px;
	padding: 15px;
}

.event + .page-component {
	margin-top: 15px;
}
